<div class="search__container">
  <input class="search__input" type="text" [formControl]="searchWord" placeholder="{{placeholder}}"
         (keydown.enter)="onSearch()">
  <span class="search__icon material-icons" (click)="onSearch()">search</span>
</div>
<ng-container *ngIf="(searchWord?.invalid && searchWord?.dirty) || searchWord?.errors?.length">
  <div class="search__errors">
    <ng-container *ngIf="searchWord?.errors?.required">{{requiredErrorMessage}} </ng-container>
  </div>
</ng-container>
