// Name that color url('https://chir.ag/projects/name-that-color/')
$bg: #ff776d;
$white: #ffffff;
$black: #333333;
$silver: #bbbbbb;
$nevada: #62727c;
$oslo-gray: #848e90;
$tonys-pink: #e29382;
$bombay: #aaabac;
